[Unit]
Description=PREN 3D Re-Builder Application
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/pren
ExecStart=/opt/pren/venv/bin/python3 /opt/pren/main.py
RestartSec=5
Restart=always
TimeoutAbortSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
